server:
  port: 8082

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 
            client-secret: 
            scope:
              - email
              - profile

app:
  oauth2:
    redirect-url: 

jwt:
  secret: 
  expiration: 86400000
  refresh-expiration: 604800000

security:
  cors:
    allowed-origins:
    allowed-methods: GET,POST,PUT,DELETE,OPTIONS
    allowed-headers: "*"
    allow-credentials: true
